    //
       |  container 
    .container
      .row
        .five.columns.phone-three
            a(href="/")
                h1#title Last Ride In
        .three.columns.phone-one
            a(href="/map")
                img(src="/images/map2.png")#map
      
      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/1')
                img(src="/images/1.png")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/2')
                img(src="/images/2.png")
            
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/3')
                img(src="/images/3.png")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/7')
                img(src="/images/7.png")           


      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/4')
                img(src="/images/4.png")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/5')
                img(src="/images/5.png")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/6')
                img(src="/images/6.png")


        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/J')
                img(src="/images/J.png")



      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/A')
                img(src="/images/A.png")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/C')
                img(src="/images/C.png")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/E')
                img(src="/images/E.png")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/Z')
                img(src="/images/Z.png")

      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/F')
                img(src="/images/F.png")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/M')
                img(src="/images/M.png")
                

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/B')
                img(src="/images/B.png")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/D')
                img(src="/images/D.png")
      .row

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/L')
                img(src="/images/L.png")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/N')
                img(src="/images/N.png")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/Q')
                img(src="/images/Q.png")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/R')
                img(src="/images/R.png")
      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/G')
                img(src="/images/G.png")
        .three.phone-one.columns
            a.subway-line-icon
        .three.phone-one.columns
            a.subway-line-icon
        .three.phone-one.columns              