    //
       |  container 
    .container
      .row
        .twelve.columns.centered
            h1#title Last Ride In
      
      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/1')
                img(src="/images/1.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/2')
                img(src="/images/2.svg")
            
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/3')
                img(src="/images/3.svg")
            
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/4')
                img(src="/images/4.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/5')
                img(src="/images/5.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/6')
                img(src="/images/6.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/7')
                img(src="/images/7.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/A')
                img(src="/images/A.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/C')
                img(src="/images/C.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/E')
                img(src="/images/E.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/B')
                img(src="/images/B.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/D')
                img(src="/images/D.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/F')
                img(src="/images/F.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/M')
                img(src="/images/M.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/J')
                img(src="/images/J.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/Z')
                img(src="/images/Z.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/G')
                img(src="/images/G.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/L')
                img(src="/images/L.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/Q')
                img(src="/images/Q.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/R')
                img(src="/images/R.svg")
      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/nyc/N')
                img(src="/images/N.svg")
        .three.phone-one.columns
            a.subway-line-icon
        .three.phone-one.columns
            a.subway-line-icon
        .three.phone-one.columns              

