    //
       |  container 
    .container
      .row
        .five.columns.phone-three
            a(href="/")
                h1#title Last Ride In
        .three.columns.phone-one
            a(href="/map")
                img(src="/images/map2.svg")#map
      
      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/1')
                img(src="/images/1.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/2')
                img(src="/images/2.svg")
            
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/3')
                img(src="/images/3.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/7')
                img(src="/images/7.svg")           


      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/4')
                img(src="/images/4.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/5')
                img(src="/images/5.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/6')
                img(src="/images/6.svg")


        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/J')
                img(src="/images/J.svg")



      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/A')
                img(src="/images/A.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/C')
                img(src="/images/C.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/E')
                img(src="/images/E.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/Z')
                img(src="/images/Z.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/F')
                img(src="/images/F.svg")
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/M')
                img(src="/images/M.svg")
                

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/B')
                img(src="/images/B.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/D')
                img(src="/images/D.svg")
      .row

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/L')
                img(src="/images/L.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/N')
                img(src="/images/N.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/Q')
                img(src="/images/Q.svg")

        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/R')
                img(src="/images/R.svg")
      .row
        .three.phone-one.columns
            a.subway-line-icon(href='/route/mta-new-york-city-transit/G')
                img(src="/images/G.svg")
        .three.phone-one.columns
            a.subway-line-icon
        .three.phone-one.columns
            a.subway-line-icon
        .three.phone-one.columns              

