!!! 5
html(lang='en')
//
    <![endif]
  head
    meta(charset='utf-8')
    //
       Set the viewport width to device width for mobile 
    meta(name='viewport', content='width=device-width')
    title last ride in
    //
       Included CSS Files 
    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', href='stylesheets/app.css')
    //if lt IE 9
      link(rel='stylesheet', href='stylesheets/ie.css')
    //
       IE Fix for HTML5 Tags 
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    //
       |  container 
    .container
      .row
        .five.columns.centered
            h1 Last Ride In
      
      .row
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/1.svg")
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/2.svg")
            
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/3.svg")
            
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/4.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/5.svg")
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/6.svg")

        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/7.svg")

        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/A.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/B.svg")
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/C.svg")

        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/D.svg")

        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/E.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/F.svg")
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/G.svg")

        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/J.svg")

        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/L.svg")

      .row
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/M.svg")
        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/N.svg")

        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/Q.svg")

        .three.phone-one.columns
            a.subway-line-icon
                img(src="images/R.svg")
       //
       Included JS Files 
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/modernizr.foundation.js')
    script(src='javascripts/foundation.js')
    script(src='javascripts/app.js')
