.container
    .row
        .five.columns.centered
            h1#title Last Ride In

    for stop in stops
        .row
            a(href="/routes/#{agency_id}/#{route_id}#{stop.stop_id}")
                | #{stop.stop_name}