.container
    .row
        .five.columns.phone-two
            a(href="/")
                h1#title Last Ride In
        .one.columns.phone-one.offset-by-three
            a(href="/map")
                img(src="/images/map2.svg")#map
        .two.columns.phone-one
            img(src="/images/#{route_id}.svg"))
            
    for time in times
        .row
            | #{time}