.container
    .row
        .five.columns.centered.phone-three
            a(href="/")
                h1#title Last Ride In
        .two.columns.phone-one
            img(src="/images/#{route_id}.svg"))

    for time in times
        .row
            | #{time}