/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: index
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html, body {
	background-image : url('../images/bg.png');
	font-family : helvetica, arial;
}

/* -----------------------------------------
   index
----------------------------------------- */

.row {
	padding-top : 10%;
}