/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: index
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@font-face {
    font-family: 'QuicksandLightRegular';
    src: url('fonts/quicksand_light-webfont.eot');
    src: url('fonts/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_light-webfont.woff') format('woff'),
         url('fonts/quicksand_light.otf') format('otf'),
         url('fonts/quicksand_light-webfont.ttf') format('truetype'),
         url('fonts/quicksand_light-webfont.svg#QuicksandLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
	background-image : url('../images/bg.png');
}

.row {
	padding-top : 20px;
}

/* -----------------------------------------
   index
----------------------------------------- */

#title {
	padding-bottom : 20px;
	font-family : 'QuicksandLightRegular';
}